<!-- begin header -->
<header class="header js-header" data-scroll-trigger  data-duration-anim="0.9" data-delay-anim="0.8">
	<div class="header__inner inner" data-anim="from-top">
		<a href="/" class="header__home"><img src="./img/home.svg" alt="img"></a>
		<a href="/" class="header__logo logo"><img src="./img/logo.svg" alt="img"></a>
		<nav class="header__nav nav">
			<ul class="nav__list">
				<li class="nav__item is-active"><a href="#">Home</a></li>
				<li class="nav__item nav__item_padright"><a href="#">Menu</a></li>
				<li class="nav__item"><a href="#">Locations</a></li>
				<li class="nav__item"><a href="#">Contact</a></li>
			</ul>
		</nav>
		<button class="btn-menu js-btn-menu" type="button">
			<span class="btn-menu__line"></span>
			<span class="btn-menu__line"></span>
			<span class="btn-menu__line"></span>
		</button>
	</div>
</header>
<!-- end header -->